.blogs-grid-index{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px 15px;
    color: black;
}

.blog-card-container{
    position: relative;
}

// I use another parent div to simulate a border with clip-path
.blogs-card-border{
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: rgb(193, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
    color: #5DF5FF;

    &:hover{
        background-color: #5DF5FF;
    }
}

.blogs-card{
    width: 99%;
    aspect-ratio: 1 / 1;
    background-color: #0d0d15;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 95% 100%, 0 100%);
    color: #5DF5FF;
}

.blogs-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    height: 38px;
}

.search-blogs-form{
    display: flex;
    height: 100%;

    input{
        background: rgba($color: black, $alpha: 0);
        width: 100%;
        border-radius: 5px 0 0 5px;
        border: 3px solid #D34148;
        outline: none;
        border-right: none;
        padding: 5px;
        color: lightgray;
    }
}

.edit-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba($color: #fff, $alpha: 0.0);
    top: 5px;
    left: 5px;
    color: white;
    z-index: 1;

    &:hover {
        color: #5DF5FF;

    }
}