.input.string,
.input.text,
.input.file {
    display: flex;

}

label.string,
label.text,
label.file {
    width: 20%;
}

input.string,
input.file,
textarea.text {
    width: 80%;
}

input.string,
textarea.text{
    padding: 8px 8px;
}

input.string{
    height: 35px;
}

textarea.text {
    min-height: 500px;
    border: 2px solid #ccc;
}
