// Specific CSS for your home-page
// Background and font
.body{
  font-family: 'Poppins', sans-serif;
  background: $darkred;
  background: -webkit-linear-gradient(top, #552120 0%, #35171E 30%, #080D11 80%);
  background: -moz-linear-gradient(top, #552120 0%, #35171E 30%, #080D11 80%);
  background: -o-linear-gradient(top, #552120 0%, #35171E 30%, #080D11 80%); /* Opera 11.10-12.00 */
  background: linear-gradient(to bottom, #552120 0%, #35171E 30%, #080D11 80%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.rztprog-cyber{
  font-family: $cyberpunk;
  letter-spacing: -10px;

  color: white;
  text-align: center;
  font-size: 80px;
}

.bg-dots{
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: -1;
	
	li{
		position: absolute;
		display: block;
    list-style-type: none;
		width: 2px;
		height: 2px;
		background-color: #fff;
		bottom: 30px;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 1px #fff;

		-webkit-animation: move 25s infinite;
		animation:         move 25s infinite;
		
		-webkit-transition-timing-function: linear;
		transition-timing-function: linear;
		
		&:nth-child(1){
			left: 10%;
		}
		
		&:nth-child(2){
			left: 20%;
			animation-delay: 2s;
			animation-duration: 17s;
		}
		
		&:nth-child(3){
			left: 25%;
			animation-delay: 4s;
		}
		
		&:nth-child(4){
			left: 40%;
			animation-duration: 22s;
		}
		
		&:nth-child(5){
			left: 70%;
		}
		
		&:nth-child(6){
			left: 80%;
			animation-delay: 3s;
		}
		
		&:nth-child(7){
			left: 32%;
			animation-delay: 7s;
		}
		
		&:nth-child(8){
			left: 55%;
			animation-delay: 15s;
			animation-duration: 40s;
		}
		
		&:nth-child(9){
			left: 15%;
			animation-delay: 2s;
			animation-duration: 40s;
		}
		
		&:nth-child(10){
			left: 90%;
			animation-delay: 11s;
		}

    &:nth-child(11){
			left: 60%;
			animation-delay: 9s;
		}
	}
}

@keyframes move{
  0%   { transform: translateY(0); }
  100% { transform: translateY(-(100vh)); }
}
