.body{
    // background-color: #000;
    background: -webkit-linear-gradient(top, #350000 0%, #000 100%);
    background: -moz-linear-gradient(top, #350000 0%, #000 100%);
    background: -o-linear-gradient(top, #350000 0%, #000 100%);
    background: linear-gradient(to bottom, #350000 0%, #000 100%);
    min-height: 100vh;
    padding: 0 30px;
    // z-index: -1;
    // width: 100vw;
    // overflow: hidden;
}

.container{
    margin: 30px auto 0 auto;
    width: 90%;
    color: white;
}
