<div class="contact-container">
  <h1>Contact me on</h1>

  <ul class="social-list">
    <li class="social-contact"><a class="social-contact-link" href="#">Twitter</a></li>
    <li class="social-contact"><a class="social-contact-link" href="#">Github</a></li>
    <li class="social-contact"><a class="social-contact-link" href="#">Mail</a></li>
  </ul>

  <h2 class="social-h2">OR</h2>

  <form action="">
    <div>
      <label for="name">Name</label>
      <input type="name" id="name">

      <label for="email">Email</label>
      <input type="email" id="email">
    </div>

    <label for="message">Message</label>
    <textarea type="message" id="message">
    </textarea>
  </form>
</div>
