<div class="container">
  <p>Root</p>
  <i class="fa-regular fa-pen-to-square"></i>
  <%= icon('fa-brands', 'font-awesome')%>
  <%= icon('fa-solid', 'user-secret')%>
  <%= icon('fa-regular', 'bell')%>
</div>
<h1 class="text-3xl font-bold underline">
  <p>Hello world! If underline = Tailwind Ok</p>
</h1>
