.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-contact{
  margin-top: 15px;
  border: 3px solid #552120;
  -webkit-box-shadow: 0px 0px 5px 0px #D34148;
  padding: 5px;
}

// .alert-error{
//   border: 2px solid #FD1015;
// }
