.createButton,
.imageButton{
    position: relative;
    left: 20%;
}

.createButton,
input[type="file"]{
    color: white;
    padding: 12px 24px;
    background: #D34148;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover{
        background: #350000;
    }
}

.blog-buttons-container{
    display: flex;
    justify-content: flex-start;
    height: 35px;
}

.blog-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
    border-radius: 8px 8px 0 0;
    background-color: rgba($color: #D34148, $alpha: 0.5);

    &:hover {
        background-color: rgba($color: #5DF5FF, $alpha: 0.5);
    }

    a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 100%;
        color: white;
        text-decoration: none;
    }
}

// .blog-button:first-child{
//     border-radius: 8px 0;
// }

.blog-button:last-child{
    margin-right: 0;
}

// VOIR POUR REDUIRE LE CONTAINER