.navbar {
  // display: flex;
  // justify-content: space-between;
  // background: red;
  font-family: 'Poppins', sans-serif;
}

.navbar-list {
  display: flex;
  // background-color: blue;
  justify-content: center;
  margin: 0 15px;
  list-style-type: none;
  padding: 15px;
  border-bottom: 1px solid $red;
}

.navbar-list li{
  margin: 0 10px;
  // background-color: yellow;
  a {
    color: $red;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    &:hover{
      color: $blue;
    }
  }
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   }
  
//   .navbar-lewagon .navbar-brand img {
//   width: 40px;
//   }
