.navbar {
  // display: flex;
  // justify-content: space-between;
  background: red;
}

.navbar-list {
  display: flex;
  background-color: blue;
}

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
//   }
  
//   .navbar-lewagon .navbar-brand img {
//   width: 40px;
//   }
