.b0t-display{
    display: none;
}

.contact-container{
    color: #fff;
    margin: 30px auto 0 auto;
    width: 600px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 18px;
}

.social-h2,
.social-list{
    margin-top: 30px;
}

.social-list{
    display: flex;
    justify-content: space-between;
}

.social-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color: #350000;
    width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    &:hover{
        background-color: #D34148;
    }
}

.social-contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #5DF5FF;
    font-size: 25px;
}

.contact-form-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
}

.send-button,
.contact-form-field{
    width: 100%;
    padding: 15px 0;
}

.contact-form-field{
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0);
    color: #3c3c47;
    font-size: 15px;
    position: relative;
    border: none;
    resize: none;
    // margin-bottom: 15px;

    &:focus{
        outline: none;
        // border-bottom: 4px solid #5DF5FF;
    }
}


// li input wrapper animation
.input-wrapper,
.input-wrapper-textarea{
    border: none;
    position: relative;
    list-style-type: none;
}

// .input-wrapper{
//     height: 50px;   
// }

// .input-wrapper-textarea{
//     height: 193px;
// }

// .input-wrapper:hover,
// .input-wrapper-textarea:hover{
//     border: none;
// }

// .input-wrapper::after,
// .input-wrapper-textarea::after{
//     content: '';
//     position: absolute;
//     width: 0px;
//     height: 4px;
//     left: 50%;
//     bottom: -2px;
//     background-color: #D34148;
//     transition: all ease-in-out .2s;
// }

// .input-wrapper:hover::after,
// .input-wrapper-textarea:hover::after{
//     width: 100%;
//     left: 0;
// }
