// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container{
  background-color: rgb(94, 94, 215);
  margin: 15px auto 0 auto;
  width: 90%;
}

.blog-grid-index{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px 15px;
  color: black;

  a{
    color: yellow;
    text-decoration: none;
  }
}

.blog-card{
  width: 100%;
  aspect-ratio: 1 / 1;

  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.blog-nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-button{
  background-color: #fff;
  padding: 5px;
  text-decoration: none;
}

.search-form{

}

