// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  box-sizing: border-box;
}

.b0t-display{
  display: none;
}

.social-h2,
.social-list{
  margin-top: 30px;
}

.contact-container{
  color: #fff;
  margin: 30px auto 0 auto;
  width: 500px;
  text-align: center;
}

.social-list{
  display: flex;
  justify-content: space-between;
}

.social-contact{
  list-style-type: none;
  background-color: $darkred;
  width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  &:hover{
    background-color: $lightred;
  }
}

.social-contact-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  text-decoration: none;
  color: $lightcyan;
  font-size: 25px;
}

.send-button{
  cursor: pointer;
  background-color: $darkred;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: bold;

  &:hover{
    background-color: $lightred;
  }
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.send-button,
.contact-form-field{
  width: 100%;
  padding: 15px 0;
}

form .contact-form-field{
  width: 100%;
  background-color: rgba($color: #fff, $alpha: 0);
  color: $light-gray;
  font-size: 15px;
  position: relative;
  border: none;
  resize: none;
  margin-bottom: 15px;

  &:focus{
    outline: none;
    border: none;
  }
}

form:focus{
  border-bottom: 5px solid #FFFFFF;
}

.contact-form-field::after{
  content: '';
  position: absolute;
  width: 0px;
  height: 5px;
  left: 50%;
  bottom:0;
  background-color: white;
  transition: all ease-in-out .2s;
}

.contact-form-field:focus::after{
  width: 100%;
  left: 0;
}


