// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.social-h2,
.social-list{
  margin-top: 30px;
}

.contact-container{
  color: #fff;
  margin: 30px auto 0 auto;
  width: 500px;
  text-align: center;
}

.social-list{
  display: flex;
  justify-content: space-between;
}

.social-contact{
  list-style-type: none;
  background-color: $darkred;
  width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  
  &:hover{
    background-color: $lightred;
  }
}

.social-contact-link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  text-decoration: none;
  color: $lightcyan;
  font-size: 25px;
}

.d-none-field{
  display: none;
}

.contact-form{
  display: flex;
  flex-direction: column;
}

.send-button,
.contact-form-input,
.contact-form-textarea{
  width: 100%;
  padding: 15px 0;
}

.contact-form-input,
.contact-form-textarea{
  width: 100%;
  background-color: rgba($color: #000000, $alpha: 0);
  color: $light-gray;
  font-size: 15px;

  border: none;
  border-bottom: 2px solid $light-gray;

  margin-bottom: 15px;
}

.contact-form-textarea{
  resize: none;
}

.send-button{
  cursor: pointer;
  background-color: $darkred;
  color: $lightcyan;
  border: none;
  border-radius: 3px;
  font-weight: bold;

  &:hover{
    background-color: $lightred;
    box-shadow: #fff;
  }
}

